extends ../basic-layout.pug

block append styles
  link(rel='stylesheet', href=app.getAssetUrl('/join/res/min.css'))

block append body
  .container
    from.join-form(method='post', action='/join', accept-charset='UTF-8')
      h1 Join cassiny
      p The best way to build and delopy app engine
      .join-form-groups
        #emailGroup.form-group
          label.control-label(for='emailField') Email
          input.form-control(type='text', id='emailField', name='join_email', value='admin@cassiny.org', autofocus, autocomplete='off')
          .help-block
        #usernameGroup.form-group
          label.control-label(for='usernameField') Email
          input.form-control(type='text', id='usernameField', name='join_username', value='admin@cassiny.org', autofocus, autocomplete='off')
          .help-block
