body {
  background: #efefef;
  margin-top: 100px;
}

.login-form {
  max-width: 540px;
  margin: auto;
  background: white;
  padding: 42px;
  padding-bottom: 12px;
  border: 1px solid silver;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 42px;
  }

  .join {
    text-align: center;
    margin-top: 42px;
  }
}
