.build-card {
  margin-top: 20px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  height: 75px;
  border: solid 1px #EFF0EC;

    .two-line {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row-item {
        padding-left: 15px;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .branch {
          flex: 1 0 auto;
        }

        .comment {
          flex: 2 0 auto;
        }
      }

      .build-num {

      }

      .hash {

      }

      .duration {

      }

      .calendar {

      }

      .commit-info {

      }
    }

    .col1 {
      flex: 2 0 auto;
      border-right: solid 1px #EFF0EC;
      padding-left: 10px;
    }
    .col2 {
      flex: 1 0 auto;
    }
    .col3 {
      flex: 1 0 auto;
    }
}

.building {

}

.passed {
  background: linear-gradient(to right, #39aa56 0, #39aa56 10px, @body-bg 10px, @body-bg 100%) no-repeat;
   .state {
     color: #39aa56;
   }
}

.failed {

}

.cancelled {

}
