.dashboard {
  > .instances-card {
    margin-top: 30px;

    .instances-title {
      > .instances-account {
        font-size: h5;
        font-weight: 220;
        margin-left: 20px;
      }
    }
  }
}
