.app-engine-dropdown-button {
  > button {
    color: #767676;
    &:active, &:hover, &:focus, &:active:focus, &:focus:active {
      border: none;
      outline: none;
      text-decoration: none;
    }
  }

  > .dropdown-menu {
    margin: 0;
    padding: 0;

    > .menu-item:hover {
      background-color: rgb(224,224,224);
    }
  }
}
