@import '~variables.less';
@import './card.less';
@import './dropdown-button.less';
@import './instance-list.less';

* {
  color: @app-font-color;
}

.project-header {
  background: @breadcrumb-bg;
}

.project-crumb {
  font-size: @font-size-h3;
  margin: 12px 0;

  .breadcrumb-item.active {
    font-weight: bold;
  }
}

.project-tab {
  nav {
    background: @breadcrumb-bg;
  }

  .nav-tabs {
    border-bottom: none;

    a:hover {
      border-bottom: none;
    }
  }
}

@import './build-card.less';
