.instance-list {
  padding: 20px;

  .instance-list-item {
    height: 50px;
    border-bottom: 1px solid @table-border-color;
    border-left: 1px solid @table-border-color;
    border-right: 1px solid @table-border-color;
    display: flex;
    align-items: center;

    &:first-child {
      border-top: 1px solid @table-border-color;
    }

    button {
    }
  }
}
