footer.page-footer
  .container
    hr
    span.copyright &copy; 2017 <a target='_blank' href='https://github.com/cassiny/'>Cassiny team</a>.
    ul.page-footer-links.pull-right
      li
        a(target='_blank', href='http://github.com/cassiny/app-engine') Github
      li
        a(href='#') About
      li
        a(href='#') Contact
