extends page-layout.pug

block append content
  p
  .jumbotron
    .container
      h1 Welcome to Casinny AppEngine
      p Cassiny AppEngine(CAE) is an open source PaaS platform to build Node.js based web and mobile applications that scale automatically.
