extends page-layout.pug

block append content
  .jumbotron
    .container
      h1 Welcome to Casinny AppEngine
      p Cassiny AppEngine(CAE) is an open source PaaS platform to build Node.js based web and mobile applications that scale automatically.
      p
        a.btn.btn-primary.btn-lg(href='/join', role='button') Join now &raquo;
        .already-a-member Already a member?&nbsp;
          a(href='/login') Please sign in
  .container
    .row
      .col-md-3
        h2 Create
        p Create your project by linking existing Git repositories from <a target='_blank' href='http://www.github.com/'>Github</a>, <a target='_blank' href='http://www.coding.net/'>coding.net</a> or even your private repositories.
        p
          a.btn.btn-default(href='#', role='button') Create your first project &raquo;
      .col-md-3
        h2 Build
        p Automatically build and test your latest version, and always keep them stored safe and tracable.
        p
          a.btn.btn-default(href='#', role='button') Create your first project &raquo;
      .col-md-3
        h2 Run
        p Ready to release? With a simple click, you'll bring your business onto the cloud and to the world.
        p
          a.btn.btn-default(href='#', role='button') Create your first project &raquo;
      .col-md-3
        h2 Scale
        p Busy season is coming, need more horsepower? Just scale-up or scale-out at any time, it's your own choice.
        p
          a.btn.btn-default(href='#', role='button') Show me how &raquo;
