extends basic-layout.pug

block append body
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href='/') Cassiny AppEngine
  .container
    block content
