extends ../page-layout.pug

block append styles
  link(rel='stylesheet', href=app.getAssetUrl('/css/project-detail-app.min.css'))

block append meta
  meta(name='cassiny-project', value=projectJSON)

block append content
  #projectRoot
  script(src=app.getAssetUrl('/js/project-detail-app.min.js'))
