@import './bootstrap-custom.less';

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px;
}

.navbar-brand {
  font-weight: bold;
}

.page-navbar-right {
  padding-top: 12px;

  a {
    margin-left: 10px;
  }
}

.page-footer {
  margin-top: 16px;
  color: @gray-light;
  font-size: smaller;
}

.page-footer-links {
  list-style: none;
  li {
    display: inline-block;
    padding: 0 15px;
  }
}
