extends ./basic-layout.pug

block append body
  h1 Welcome to Casinny AppEngine
  p Cassiny AppEngine(CAE) is an open source PaaS platform to build Node.js based web and mobile applications that scale automatically.

  h2 User
  p= user.nickname
  p= user.username
  p= user.email
